<template>
  <div class="app-page app-page--main page-main" :style="{ height: pageHeight }" ref="page">
    <div class="page-main__inner">
      <swiper class="page-main__sections" :options="options" ref="sections">
        <swiper-slide
          class="page-main__section"
          v-for="section in Object.keys(sections)"
          :key="section"
        >
          <component :is="section" />
        </swiper-slide>
      </swiper>

      <div class="page-main__bg" :style="{ width: pageHeight }">
        <div class="page-main__bg-inner">
          <div class="page-main__bg-image" :style="{ transform: `translateX(-${(currentSectionIndex - 1) * clientWidth}px)` }">
            <svg-icon name="bg" original />
          </div>

          <div class="page-main__bg-car" ref="car" :style="{ transform: `translateX(${carOffsetLeft}px)` }">
            <svg-icon name="car" original />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import sections from './sections';

export default {
  name: 'AppPageMain',
  components: { ...sections },
  data: () => ({
    options: {
      allowTouchMove: false,
      loop: true,
    },

    pageHeight: null,
    currentSectionIndex: 1,
    carOffsetLeft: 0,

    loading: false,
  }),
  computed: {
    sections() {
      return sections;
    },

    swiper() {
      return this.$refs.sections.swiper;
    },
  },
  methods: {
    setPageHeight() {
      const sectionsAmount = Object.keys(sections).length;

      const windowHeight = document.body.clientWidth * sectionsAmount;

      this.pageHeight = `${windowHeight}px`;
    },
    test() {
      const tl = new this.$gsap.TimelineMax();

      tl.to('.page-main__bg-car', 1.5, {x: document.body.clientWidth, y: '0%', ease: Linear.easeNone});

      const scene = new this.$scrollmagic.Scene({
          // triggerElement: '.pinContainer',
          duration: `${Object.keys(sections).length * 100}%` // each panel animation will last 200% of the screen's height
        })
        .setPin('.page-main')
        .setTween(tl);

      this.$ksvuescr.$emit('addScene', 'test', scene);
    },
  },
  mounted() {
    this.$nextTick(this.test);
    // this.setPageHeight();

    window.addEventListener('resize', this.setPageHeight, { passive: true });

    document.documentElement.scrollTop = 0;
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.setPageHeight);
  },
};
</script>

<style lang="scss">
.app-page {
  position: relative;
}

.page-main {
  min-height: 100%;
  &__inner {
    position: fixed;
    left: 0; right: 0;
    height: calc(100% - 200px);
  }

  &__sections {
  }

  &__bg {
    position: absolute;
    left: 0; bottom: 0;

    &-image {
      margin: 0 0 -25px -140px;
      transition: .7s;
    }

    &-car {
      position: absolute;
      bottom: 20px; left: 300px;
      @include size(220px, 100px);
      transition: transform .1s linear;
    }
  }
}
</style>
